._demo--container
    span.wordmark--left 2poundsmeal
    span.wordmark--right Demo
  nav.heading-nav(role='menubar')
    li.base--li.heading-nav--li(role='presentation')
      a.heading-nav--item(href='http://www.2poundsmeal.co.uk/', role='menuitem') SHOP

    li.base--li.heading-nav--li(role='presentation')
  div

._demo--banner.banner
  ._demo--container
    .banner--service-container
      .banner--service-icon-container
      .banner--service-info
        h1.banner--service-title.base--h1
          img.banner--service-icon_INLINE(src='/images/service-icon.svg', alt='Visual Recognition API Icon')
          | 2poundsmeal Demo Food Recognition
        .banner--service-description
          | Visual Recognition uses deep learning algorithms to analyze images that can give you insights into your food content.
    .banner--service-resource-container
      .banner--row
        .banner--service-resource

      .banner--row
        .banner--service-links
